<div class="center-content">
 <mat-card class="example-card">
    <mat-card-header>
     
      <mat-card-title> Welcome {{ user?.displayName }}</mat-card-title>
      <mat-card-subtitle> User Profile</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="imgSrc" alt="profile Image">
    <mat-card-content>
      <div class="text-info p-5">
        <h2 class="allData">
            User Information
        </h2>
        <h4><b>User ID:</b>{{user?.uid}}</h4>
        <h4><b>User Email:</b>{{ user?.email }}</h4>
     
        <h4><b>User Name:</b>{{ user?.displayName }}</h4>
        
    </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="accent" (click)="onSignOut()">Sign out</button>
    </mat-card-actions>
  </mat-card>
</div>