<form [formGroup]="profileForm" class="form-container" (ngSubmit)="onSubmit(profileForm.value)">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Profile Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      
          <mat-form-field class="full-width">
            <input formControlName="firstName" matInput placeholder="First name">
            <mat-icon matSuffix> badge</mat-icon>
          </mat-form-field>
       
          <mat-form-field class="full-width">
            <input  formControlName="lastName" matInput placeholder="Last name">
           <mat-icon matSuffix> badge</mat-icon>
          </mat-form-field>
       
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input formControlName="email" type="email" matInput placeholder="Email@example.com" >
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
     
      
        
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput [type]="hide ? 'password' : 'text'"  >
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
       
   
          <mat-form-field class="full-width">
            <input formControlName="webSite" matInput placeholder="www.Trade.com">
            <mat-icon matSuffix>link</mat-icon>
          </mat-form-field>
     

      <div class="container">
        <input  formControlName="img" type="file"   #fileInput accept="image/*" (change)="showPreview($event)" />
        <!-- <button mat-raised-button color="accent" class="file-select-button" (click)="onClickFileInputButton()"> -->
          
          <!-- <mat-label> <mat-icon>add_a_photo</mat-icon> Select Picture</mat-label> -->
        
        
        <!-- <div color='warn' *ngIf="isSubmitted && profileForm.img.errors?.required">This field is required. </div> -->
        <p  *ngIf="!selectedImage; else fileName">no file Choose file.jpg</p>
        <ng-template #fileName>
          <p class="file-name">{{ selectedImage?.name }}</p>
        </ng-template>
      </div>
   
    </mat-card-content>
    <mat-card-actions>
      <button type = 'submit' [disabled]="!profileForm.valid" mat-raised-button color="primary" class="file-select-button" >Sign Up</button>
    </mat-card-actions>
  
  <div class="error" >
    <mat-error *ngIf="errorMessage.length > 0" >
        {{errorMessage}}
      </mat-error>
      <mat-error *ngIf="error.message.length > 0">
        {{error.message}}
      </mat-error>
    </div>
  </mat-card>
</form>